*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/* navigation bar */
.navbar{
    color: rgb(251, 253, 253);
    width: auto;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 50px;
    width: 250px; 
}
.logo {
    background-image: url('logo2.png');
    background-size: cover ;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2.5px solid orange ;
}

.nav_address{
    height: 38px; 
    width: 80px;
    align-items: center;
    justify-content: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    align-items: center;
}
.add-second{
    color: #f3f3f3;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 680px;
    height: 40px;
    border-radius: 10px;
}

.search-select{
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #0f1111;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border-color: aqua;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;

}
.navsignin{
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
}
.signin-first{
    font-size: 0.8rem;
    margin-left: 18px;
}

.signin-second{
    font-size: smaller;
    font-weight: 700;
    margin-left: 2px;
}
.signin-logo{
    display: flex;
    align-items: center;
}
.contact-logo{
    font-size: smaller;
    height: 13px;
    width: 80px;
    justify-content: space-evenly;
    align-items: normal;
}
.cart{
    justify-content: left;
    width: 40px;
    font-weight: 700;
}
.cart:hover{
    border:2px solid white
}
.cart i{
    font-size: 30px;
}
/* lower panel */
.panel{
    height: 40px;
    background-color: #e89b0e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline ;
    margin-left: 40px;
}
.panel-ops{
    justify-content: space-between;
    width: 70%;
}
.heroimage{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 300px;
}
.shopsection{
    display: flex;
    justify-content: space-evenly;
    background-color:  #e2e7e6;
}
.box{
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}
.bimg{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.bcon{
    margin-left: 1rem;
    margin-right: 1rem;

}
.bcon p{
    color: #007185;
}